@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Red Hat Text', sans-serif; */
  width: 100%;
  padding: 0px 10px;
}

#popup {
  max-width: 300px;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

#main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ::-webkit-scrollbar {
  background: rgba(196, 196, 196, 0.5);
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background:#C4C4C4;
  width: 6.35px;
  height: 50px;
} */